<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="./FileUpload.js" defer="true" ></script>
    <style>
        .image-div{
            height: 200px;
            width: 200px;
            border: 1px solid red;
        }
    </style>
</head>
<body>
    <h1 id="hello">Hello</h1>
    <div>
        <input type="file" id="myFile" name="myFile" >
        <div class="image-div">
            <img src="" alt="" id="displayImg" srcset="">
            <span>Image Preview</span>
        </div>
    </div>
</body>
</html>